.c-header {
  box-shadow: 0 4px 4px #BBB;
  background-color: #FFF;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    height: 90px;
    z-index: 50;
  }
}

.c-image-area {
  .preview__all {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .preview__label {
    text-align: right;
    .circle-icon {
      width: 46px;
      height: 46px;
    }
  }
}

.c-image-preview {
  width: 48%;
  margin-bottom: 12px;
  border: 1px solid #EEE;
  img {
    width: 100%;
  }
}

.c-primary-button {
  width: 256px;
  height: 48px;
  background-color: rgb(158, 214, 216) !important;
  margin-top: 32px !important;
}

.c-product-card {
  width: 300px;
  margin: 0 20px 20px;
  .card__media {
    height: 0;
    padding-top: 100%;
  }
  .card__contents {
    display: flex;
    justify-content: space-between;
  }
}

.c-closable-drawer {
  .inner {
    width: 256px;
  }
}
.search__field {
  display: flex ;
  align-items: center ;
  margin-left: 20px;
}

.c-cart-list-item {
  display: flex;
  .avater {
    img {
      width: 140px;
      height: 140px;
    }
  }
  .detail {
    width: calc(100% - 240px);
    padding: 0 40px;
  }
  .delete-btn {
    width: 60px;
  }
}

.c-text-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.c-order-history-item {
  background-color: #EEE;
  padding: 20px;
}

.c-ordered-products {
  background-color: #FFF;
  .avater {
    img {
      width: 140px;
      height: 140px;
    }
  }
  .detail {
    width: calc(100% - 440px);
    padding: 0 20px;
  }
  .button {
    width: 256px;
  }
}

.c-select-box {
  width: 100%;
}