.site-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: 80px 0;
  flex: 1;
}
.s__head {
  text-align: center;
  margin-bottom: 36px;
}
.d-none {
  display: none;
}
.circle-icon {
  width: 46px;
  height: 46px;
}
.MuiAlert-outlinedSuccess {
  background-color: #FFF !important;
}
.MuiBadge-colorSecondary {
  background-color: cadetblue !important;
}
.MuiTableCell-root {
  padding: 16px 10px !important;
}