@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family:  '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}


* {
  box-sizing: border-box;
}

a {
  color: "000";
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0
}