// ==============================================
// 商品一覧
// ==============================================

.t-product-list {
  .inner {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
    .product__all {
      display: flex;
      flex-wrap: wrap;
    }
    .add-btn {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: #CB4306;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -40px;
      right: -120px;
      cursor: pointer;
      .icon {
        color: #FFF;
        font-size: 44px;
      }
    }
  }
}

.t-product-edit {
  max-width: 520px;
  width: 90%;
  margin: 0 auto;
}

.t-product-detail {
  .inner {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    .product {
      display: flex;
      justify-content: space-between;
      .product__slide {
        width: 300px;
        height: 300px;
        .swiper-slide {
          height: 300px;
        }
        img {
          width: 100%;
          height: 100% ;
          object-fit: cover;
        }
      }
      .product__detail {
        width: calc((100% - 60px) - 300px);
        .product__name {
          font-size: 32px;
          margin-bottom: 10px;
          font-weight: normal;
        }
        .product__price {
          color: cadetblue;
          font-size: 32px;
        }
        .product__description {
          line-height: 1.8;
        }
      }
    }
  }
}

.t-auth {
  .inner {
    max-width: 520px;
    width: 90%;
    margin: 0 auto;
    .c-primary-button {
      margin-top: 30px;
    }
    .auth__link {
      text-align: center;
      margin-top: 30px;
      p {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.t-cart-list, .t-favorite-list {
  .inner {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
    .product__all {
      margin-bottom: 30px;
    }
  }
}

.t-mypage {
  .inner {
    max-width: 520px;
    width: 90%;
    margin: 0 auto;
    .s__body {
      border-radius: 4px;
      box-shadow: 
        0px 2px 1px -1px rgb(0 0 0 / 20%), 
        0px 1px 1px 0px rgb(0 0 0 / 14%), 
        0px 1px 3px 0px rgb(0 0 0 / 12%);
      padding: 20px;
      .row {
        border-bottom: 1px solid #EEE;
        margin-bottom: 20px;
        h4 {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
      .c-primary-button {
        margin-top: 30px;
      }
    }
  }
}

.t-order-confirm {
  .inner {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    .s__body {
      display: flex;
      justify-content: space-between;
      .order__detail {
        border-radius: 4px;
        box-shadow: 
          0px 2px 1px -1px rgb(0 0 0 / 20%), 
          0px 1px 1px 0px rgb(0 0 0 / 14%), 
          0px 1px 3px 0px rgb(0 0 0 / 12%);
        padding: 24px;
        width: 320px;
        .c-primary-button {
          margin-top: 20px !important;
        }
      }
      .product__detail {
        width: calc(100% - 360px);
      }
    }
  }
}

.t-order-history {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
}

.t-order-complate {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  .s__body {
    p {
      text-align: center;
      line-height: 2;
    }
    .c-primary-button {
      margin-top: 30px;
    }
  }
}
