.t-product-edit {
  max-width: 520px;
  width: 90%;
  margin: 0 auto;
}
.t-product-detail {
  .inner {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .p__slide {
      width: 320px;
      height: 320px;
      .swiper-slide {
        height: 320px;
      }
      img {
        width: 100%;
        height: 100% ;
        object-fit: cover;
      }
    }
    .p__detail {
      width: calc((100% - 100px) - 320px);
      .p__name {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: normal;
      }
      .p__quantity {
        padding: 10px 0;
        margin: 40px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
      }
      .p__price {
        color: cadetblue;
        font-size: 32px;
      }
    }
  }
}

.t-product-list {
  .product__all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1020px;
    width: 90%;
    margin: 0 auto;
  }
}

.t-auth {
  .inner {
    max-width: 520px;
    width: 90%;
    margin: 0 auto;
    .auth__link {
      text-align: center;
      margin-top: 30px;
      p {
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.t-cart-list {
  .inner {
    max-width: 920px;
    width: 90%;
    margin: 0 auto;
  }
}